Lab2/pzpi-22-3-shpak-denys-lab2/.air.toml
Lab2/pzpi-22-3-shpak-denys-lab2/config/config.yaml
Lab2/pzpi-22-3-shpak-denys-lab2/Taskfile.yaml
*.docx
*.exe*
Lab2/pzpi-22-3-shpak-denys-lab2/tmp/build-errors.log
Lab3/АПЗ Лб3.mp4
